<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link rel="icon" type="image/svg+xml" href="/vite.svg" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Multiventas.vip</title>
    <script src="https://www.recaptcha.net/recaptcha/api.js" async defer></script>
    <script type="module" crossorigin src="/static/index-788faa6b.js"></script>
    <link rel="stylesheet" href="/static/index-1d0d080e.css">
  </head>
  <body class="bg-white dark:bg-black dark:bg-opacity-[0.85] transition">
    <div id="root"></div>
    
  </body>
</html>
